body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}
#clickBtn {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#clickBtn:hover {
  background-color: #ee2200;
}
p {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}

#rules {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  border-style: solid;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  z-index: 1;
}
#timer-container {
  position: absolute;
  top: 295px;
  right: 550px;
  font-size: large;
}
#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#loading p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}
