/* クリック前のボタンの形状を定義 */
button#spinier {
  width: 580px;
  height: 60px;
  position: relative;
  transition: 0.3s ease-in-out;
  background: #fff177;
}

/* クリック直後とローディング処理終了時のボタンの形状定義 */
button#spinier.click {
  border-radius: 9999px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #707070;
  border: solid 1px #707070;
  padding: 0;
  pointer-events: none;
}

/* ローディング処理本体のCSS */
.circle {
  display: block;
  width: 34px;
  height: 34px;
  position: relative;
  background: transparent;
  box-sizing: border-box;
  border-top: 4px solid #f0db40;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-radius: 100%;
  animation: spin 0.6s ease-out infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
